body.theme-darkly p {
    color: pink;
}

/* format change color */
[class*=sidebar-dark-] {
    background-color: #003050; 
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #00A5B6;
    color: #6C6170;
}


.btn-success {
    border-color: #00A5B6;
    background-color: #00A5B6;
}


body{
    font-family: Lexend !important;
}


.login-logo img {
    max-width: 200px;
}